<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/styles.css" />
</head>
<body>
    <div>
        <h4 class="banner">Birthday Card Generator</h4>
        <div class="mainRegion">
            @RenderBody()
            <p style="margin-top:40px;">&copy; 2019 - My Birthday Card Generator Application</p>
        </div>
    </div>
</body>
</html>
